# Python
backend/myvenv/
backend/__pycache__/
backend/**/*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Environment files
frontend/.env
backend/.env

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git